<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Trello-web" verbose="1" >
    <test name="webSmokey" >
        <classes>
            <class name="сom.tr.trello.tests.LoginTests" />
            <class name="сom.tr.trello.tests.BoardCreation" />
            <class name="сom.tr.trello.tests.BoardDeletionTests" />
            <class name="сom.tr.trello.tests.TeamCreation" />
        </classes>
    </test>
</suite>
